# Build ve bağımlılık klasörleri
bin/
obj/
node_modules/
dist/
*.nuget.g.props
*.nuget.g.targets
*.cache
*.dgspec.json

# Kullanıcıya özel ayarlar
.vscode/
*.user
*.suo
*.plist

!nuget.config

# Assembly ve build ile ilgili geçici dosyalar
obj/
bin/
*.AssemblyInfo.cs
*.AssemblyInfoInput.cache

# Derleme sırasında oluşan geçici dosyalar
bin/
obj/
Debug/
*.cache
*.dgspec.json
*.nuget.g.props
*.nuget.g.targets
project.assets.json